.dark-high-contrast {
  --md-sys-color-primary: rgb(255 250 255);
  --md-sys-color-surface-tint: rgb(229 197 36);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 222 63);
  --md-sys-color-on-primary-container: rgb(48 39 0);
  --md-sys-color-secondary: rgb(255 240 186);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(212 194 126);
  --md-sys-color-on-secondary-container: rgb(15 11 0);
  --md-sys-color-tertiary: rgb(248 255 223);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(198 237 107);
  --md-sys-color-on-tertiary-container: rgb(31 44 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(22 19 10);
  --md-sys-color-on-background: rgb(233 226 209);
  --md-sys-color-surface: rgb(22 19 10);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(76 71 51);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(249 240 213);
  --md-sys-color-outline-variant: rgb(203 194 169);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 226 209);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(85 71 0);
  --md-sys-color-primary-fixed: rgb(255 226 94);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(229 197 36);
  --md-sys-color-on-primary-fixed-variant: rgb(22 17 0);
  --md-sys-color-secondary-fixed: rgb(245 226 155);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(216 198 130);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 17 0);
  --md-sys-color-tertiary-fixed: rgb(201 241 110);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(174 212 85);
  --md-sys-color-on-tertiary-fixed-variant: rgb(12 20 0);
  --md-sys-color-surface-dim: rgb(22 19 10);
  --md-sys-color-surface-bright: rgb(84 80 67);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(34 32 21);
  --md-sys-color-surface-container: rgb(52 48 37);
  --md-sys-color-surface-container-high: rgb(63 59 48);
  --md-sys-color-surface-container-highest: rgb(74 71 59);
}
