.light {
  --md-sys-color-primary: rgb(110 93 0);
  --md-sys-color-surface-tint: rgb(110 93 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 222 63);
  --md-sys-color-on-primary-container: rgb(115 97 0);
  --md-sys-color-secondary: rgb(107 94 36);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(242 223 152);
  --md-sys-color-on-secondary-container: rgb(111 98 40);
  --md-sys-color-tertiary: rgb(77 103 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(198 237 107);
  --md-sys-color-on-tertiary-container: rgb(80 107 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 249 238);
  --md-sys-color-on-background: rgb(30 27 17);
  --md-sys-color-surface: rgb(255 249 238);
  --md-sys-color-on-surface: rgb(30 27 17);
  --md-sys-color-surface-variant: rgb(235 226 200);
  --md-sys-color-on-surface-variant: rgb(76 71 51);
  --md-sys-color-outline: rgb(125 119 97);
  --md-sys-color-outline-variant: rgb(207 198 173);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(52 48 37);
  --md-sys-color-inverse-on-surface: rgb(248 240 223);
  --md-sys-color-inverse-primary: rgb(229 197 36);
  --md-sys-color-primary-fixed: rgb(255 226 94);
  --md-sys-color-on-primary-fixed: rgb(34 27 0);
  --md-sys-color-primary-fixed-dim: rgb(229 197 36);
  --md-sys-color-on-primary-fixed-variant: rgb(83 70 0);
  --md-sys-color-secondary-fixed: rgb(245 226 155);
  --md-sys-color-on-secondary-fixed: rgb(34 27 0);
  --md-sys-color-secondary-fixed-dim: rgb(216 198 130);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 70 14);
  --md-sys-color-tertiary-fixed: rgb(201 241 110);
  --md-sys-color-on-tertiary-fixed: rgb(21 31 0);
  --md-sys-color-tertiary-fixed-dim: rgb(174 212 85);
  --md-sys-color-on-tertiary-fixed-variant: rgb(57 77 0);
  --md-sys-color-surface-dim: rgb(224 217 201);
  --md-sys-color-surface-bright: rgb(255 249 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(251 243 226);
  --md-sys-color-surface-container: rgb(245 237 221);
  --md-sys-color-surface-container-high: rgb(239 232 215);
  --md-sys-color-surface-container-highest: rgb(233 226 209);
}
